<div class="card">
<h1>Your personal coach</h1>

<p><strong>Your question:</strong> <%= @question %> </p>
<p><strong>Coach answer:</strong> <%= @answer %> </p>
<br>
<br>
<%= link_to 'Ask a new question', ask_path %>
</div>
